.content {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(250,242,217);

}

.h2 {
    font-size: 2rem;
    padding-bottom: 30px;
    text-align: center;
}
.textarea {
    height: 80px;
    resize: none;
    border-radius: 15px;
    /*margin-bottom: 10px;*/
    background-color: rgba(255,255,255,70%);
    padding: 7px;
    width: 100%;
}

.btn {
    width: 150px;
    background-color: transparent;
    padding: 7px 15px;
    color: rgba(0,0,0,80%);
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px dashed lightgray;
    border-radius: 20px;
}
.errors {
    color: #ff4d4d;
    font-size: 0.7rem;
}
