.content {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(250,242,217);

}

.h2 {
    font-size: 2rem;
    padding-bottom: 30px;
    text-align: center;
}
.textarea {
    height: 80px;
    resize: none;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    background-color: rgba(255,255,255,70%);
    padding: 7px;
    width: 100%;
}
.btn_wrapper {
    display: flex;
    justify-content: end;
}

.errors {
    color: #ff4d4d;
    font-size: 0.7rem;
}
