.myposts {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}
.myposts h2 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 30px;
}
.myposts textarea {
    height: 100px;
    resize: none;
    /*border: 1px solid gray;*/
    margin-bottom: 20px;
    background-color: #ecf0f1;
}
.btn {
    display: flex;
    justify-content: flex-end;
}
.btn button {
    background-color: cadetblue;
    color: rgb(0, 0, 0, 60%);

}